<footer>
    <div class="footer-logo">
        <img
            width="200px"
            src="/img/logo/logo-tingtong.png"
            alt="Tingtong"
        />
        <div class="sub-logo">TingTong cung cấp đa dạng loại phòng, bao gồm
            phòng trọ, chung cư mini và căn hộ dịch vụ.</div>
    </div>
    <div class="footer-information footer-about">
        <span>Khám phá</span>
        <ul>
            <li class="footer-nav"><a href="#">Giới thiệu</a></li>
            <li class="footer-nav"><a href="#">Dịch vụ</a></li>
            <li class="footer-nav"><a href="#">Tuyển dụng</a></li>
            <li class="footer-nav"><a href="#">Liên hệ</a></li>
        </ul>
    </div>
    <div class="footer-information footer-service">
        <span>Cảm hứng</span>
        <ul>
            <li class="footer-nav"><a href="#">Kiến trúc
                </a></li>
            <li class="footer-nav"><a href="#">Phong cách</a></li>
            <li class="footer-nav"><a href="#">Tin tức</a></li>
            <li class="footer-nav"><a href="#">Dự án</a></li>
        </ul>
    </div>
    <div class="footer-information footer-contact">
        <span>Liên hệ</span>
        <ul>
            <li class="footer-contact"><span>Trụ sở chính: </span><a href="#">Số
                    5, ngõ 59 Lê Đức Thọ, Nam Từ Liêm, Hà Nội</a></li>
            <li class="footer-contact"><span>Hotline: </span><a href="#">1900
                    888 622</a></li>
            <li class="footer-contact"><span>Email: </span><a
                    href="#"
                >tapdoantingtong@gmail.com</a></li>
        </ul>
    </div>
</footer>