<!-- Header -->
<header>
    <div class="header-left">   
        <div class="logo">
            <a href="#"><img style="width: 102px; height: 44px;" src="/img/logo/logo-tingtong.png"
                    alt="TingTong"></a>
        </div>

        <nav>
            <ul class="nav-links">
                <li class="nav-link"><a href="#">Giới thiệu</a></li>
                <li class="nav-link"><a href="#news-container">Tin tức & sự kiện</a></li>
                <li class="nav-link"><a href="#">Hợp tác</a></li>
                <li class="nav-link"><a href="https://tingtong.vn/lien-he/">Liên hệ</a></li>
                <li class="nav-link"><a href="#">Tuyển dụng</a></li>
            </ul>
        </nav>
    </div>

    <div class="header-right">
        <div class="search-box">
            <input type="search" name="search" id="search" placeholder="Nơi bạn muốn ở">

            <button type="submit" class="search-btn">
                <i class="search-icon fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="nation-options">
            <ul>
                <li>VN
                    <i class="fa-solid fa-chevron-down"></i>
                    <ul class="nation-list">
                        <li style="border-bottom: 0.3px solid #ddd;"><a href="#">VN</a></li>
                        <li><a href="#">EN</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="contact-btn"><a style="color: #fff;" href="https://tingtong.vn/lien-he/">Liên hệ</a></div>

        <div class="login-btn"><a style="color: #fff;" href="/login">Đăng nhập</a></div>

        <!-- Sidebar Toggle Button -->
        <button class="sidebar-toggle" id="sidebarShow">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</header>