* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    background: #ccc;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    position: absolute;
    top: 20%;
    width: 400px;  
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 20px;
    z-index: 2;
}

select, button {
    width: 100%;
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

h2 {
    font-size: 2rem;
    margin-top: 20px;
}