<!-- Side menu contacts -->
<div class="side-menu-contacts">
    <div class="contacts-method"><a href=""><img
                src="https://tingtong.vn/wp-content/uploads/2024/08/icon_phone.png"
                width="50"
                height="50"
            /></a></div>
    <div class="contacts-method"><a href=""><img
                src="https://tingtong.vn/wp-content/uploads/2024/08/icon_mess.png"
                width="50"
                height="50"
            /></a></div>
    <div class="contacts-method"><a href=""><img
                src="https://tingtong.vn/wp-content/uploads/2024/08/icon_zalo.png"
                width="50"
                height="50"
            /></a></div>
    <!-- Back to top button -->
    <div class="back-to-top">
        <i class="fa-solid fa-arrow-up"></i>
    </div>
</div>

<!-- Sidebar -->
<aside class="sidebar">
    <!-- Sidebar-header -->
    <div class="sidebar-header">
        <div class="sidebar-logo">
            <img src="/img/logo/logo-tingtong.png" alt="TingTong" />
        </div>

        <button class="sidebar-close" id="sidebarHidden">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

    <!-- Sidebar-content -->
    <div class="sidebar-content">
        <ul class="sidebar-menu">
            <li class="sidebar-menu-item"><a href="#">Giới thiệu</a></li>
            <li class="sidebar-menu-item"><a href="#">Tin tức & sự kiện</a></li>
            <li class="sidebar-menu-item"><a href="#">Hợp tác</a></li>
            <li class="sidebar-menu-item"><a href="#">Liên hệ</a></li>
            <li class="sidebar-menu-item"><a href="#">Tuyển dụng</a></li>
        </ul>

        <div class="sidebar-login">
            <a href="./login.html">Đăng nhập</a>
        </div>

        <div class="sidebar-language">
            <div class="lang-option active"><span>Tiếng Việt</span></div>
            <div class="lang-option"><span>English</span></div>
        </div>
    </div>
</aside>

<!-- Sidebar Overlay -->
<div class="sidebar-overlay" id="sidebarOverlay"></div>

<!-- Slider -->
<div class="slider">
    <div class="slider-track">
        <img
            src="/img/banner/banner-1.png"
            alt="Slide 1"
            class="slider-item"
        />
        <img
            src="/img/banner/banner-2.png"
            alt="Slide 2"
            class="slider-item"
        />
        <img
            src="/img/banner/banner-3.jpg"
            alt="Slide 3"
            class="slider-item"
        />
    </div>

    <div class="slider-dots">
        <div class="slider-dot"></div>
        <div class="slider-dot"></div>
        <div class="slider-dot"></div>
    </div>

    <div class="slider-btn prev-btn"><i
            class="fa-solid fa-circle-chevron-left"
        ></i></div>
    <div class="slider-btn next-btn"><i
            class="fa-solid fa-circle-chevron-right"
        ></i></div>
</div>

<!-- Main-->
<main>
    <!-- Main-content -->
    <div class="main-content">

        <!-- Search Filter -->
        <form id="search-filter">
            <div class="search-group city-filter">
                <label>Thành phố</label>
                <select class="dropdown" id="city">
                    <option value="all">Tất cả</option>
                    <option value="hanoi">Hà Nội</option>
                </select>
            </div>

            <div class="search-group district-filter">
                <label>Quận/Huyện</label>
                <select class="dropdown" id="district">
                    <option value="all">Tất cả</option>
                    <option value="thanhtri">Huyện Hoài Đức</option>
                    <option value="phuctho">Huyện Phúc Thọ</option>
                    <option value="badinh">Quận Ba Đình</option>
                    <option value="bactuliem">Quận Bắc Từ Liêm</option>
                    <option value="caugiay">Quận Cầu Giấy</option>
                    <option value="dongda">Quận Đống Đa</option>
                    <option value="hadong">Quận Hà Đông</option>
                    <option value="hoangmai">Quận Hoàng Mai</option>
                    <option value="namtuliem">Quận Nam Từ Liêm</option>
                    <option value="tayho">Quận Tây Hồ</option>
                    <option value="thanhxuan">Quận Thanh Xuân</option>
                </select>
            </div>

            <div class="search-group price-filter">
                <label>Khoảng giá</label>
                <select class="dropdown" id="price">
                    <option value="all">Tất cả</option>
                    <option value="2-4">2 - 4 Triệu</option>
                    <option value="4-6">4 - 6 Triệu</option>
                    <option value="6-8">6 - 8 Triệu</option>
                    <option value="8-15">8 - 15 Triệu</option>
                </select>
            </div>

            <button type="submit"><i
                    class="fa-solid fa-magnifying-glass"
                ></i></button>
        </form>

        <!-- Houses -->
        <div id="houses-container">

            <ul class="house-lists">
                
            </ul>

        </div>

        <div class="houses-continue scale-element">
            <span>Tiếp tục khám phá danh mục toà nhà</span>
            <div
                class="continue-btn"
                style="min-width: 130px; line-height: 30px;"
            >Xem thêm</div>
        </div>
    </div>
</main>

<div class="news-container" id="news-container">
    <div class="news-box fade-in">
        <div class="news-header">
            <div class="news-title">Tin tức & sự kiện</div>
            <div class="news-nav">
                <ul>
                    <li class="news-nav-link"><a href="#">Dự án</a></li>
                    <li class="news-nav-link"><a href="#">Hoạt động công đoàn</a></li>
                    <li class="news-nav-link"><a href="#">Kiến thức</a></li>
                    <li class="news-nav-link"><a href="#">Tin nổi bật</a></li>
                    <li class="news-nav-link active"><a href="#">Tất cả</a></li>
                </ul>
            </div>
        </div>

        <div class="news-posts">
            <section class="news-item">
                <div class="img-item news-big-img">
                    <img src="/img/news/news-big-1.jpg" alt="" />
                </div>
                <article class="news-content-big">
                    <div class="content-info big-content-info">
                        <ul>
                            <li class="article-info">Tin nổi bật</li>
                            <li class="article-info">16/05/2025</li>
                        </ul>
                    </div>
                    <div class="content-title big-content-title">Căn hộ CCMN
                        TingTong 131: Lựa chọn lý tưởng cho sinh viên Bắc Từ
                        Liêm</div>
                    <div class="content-describe big-content-describe">Rất nhiều
                        bạn sinh viên mong muốn có một nơi sống tiện nghi, thoải
                        mái và thuận tiện di chuyển đến trường học. Căn hộ CCMN
                        TingTong 131 tại Phương</div>
                </article>
            </section>

            <section class="news-item">
                <div class="img-item news-big-img">
                    <img src="/img/news/news-big-2.jpg" alt="" />
                </div>
                <article class="news-content-big">
                    <div class="content-info big-content-info">
                        <ul>
                            <li class="article-info">Kiến thức</li>
                            <li class="article-info">12/05/2025</li>
                        </ul>
                    </div>
                    <div class="content-title big-content-title">Hệ thống camera
                        an ninh tại TingTong: Đảm bảo an toàn cho cư dân 24/7</div>
                    <div class="content-describe big-content-describe">An toàn
                        luôn là một yếu tố quan trọng đối với bất kỳ khu dân cư
                        nào, và TingTong không phải là ngoại lệ. Với hơn 150 tòa
                        nhà và</div>
                </article>
            </section>

            <section class="news-item">
                <div class="img-item news-small-img">
                    <img src="/img/news/news-small-1.jpg" alt="" />
                </div>
                <article class="news-content-small">
                    <div class="content-info small-content-info">
                        <ul>
                            <li class="article-info">Kiến thức</li>
                            <li class="article-info">08/05/2025</li>
                        </ul>
                    </div>
                    <div class="content-title small-content-title">Quy định về
                        an toàn PCCC tại nhà để xe TingTong</div>
                </article>
            </section>

            <section class="news-item">
                <div class="img-item news-small-img">
                    <img src="/img/news/news-small-2.jpg" alt="" />
                </div>
                <article class="news-content-small">
                    <div class="content-info small-content-info">
                        <ul>
                            <li class="article-info">Dự án</li>
                            <li class="article-info">06/05/2025</li>
                        </ul>
                    </div>
                    <div class="content-title small-content-title">Căn hộ
                        TingTong 130 Miếu Đầm: Không gian sống hiện đại, tiện
                        nghi và an toàn</div>
                </article>
            </section>

            <section class="news-item">
                <div class="img-item news-small-img">
                    <img src="/img/news/news-small-3.jpg" alt="" />
                </div>
                <article class="news-content-small">
                    <div class="content-info small-content-info">
                        <ul>
                            <li class="article-info">Kiến thức</li>
                            <li class="article-info">02/05/2025</li>
                        </ul>
                    </div>
                    <div class="content-title small-content-title">Cổng khóa vân
                        tay tại TingTong: Giải pháp an ninh vượt trội cho cư dân</div>
                </article>
            </section>

            <section class="news-item">
                <div class="img-item news-small-img">
                    <img src="/img/news/news-small-4.jpg" alt="" />
                </div>
                <article class="news-content-small">
                    <div class="content-info small-content-info">
                        <ul>
                            <li class="article-info">Dự án</li>
                            <li class="article-info">29/04/2025</li>
                        </ul>
                    </div>
                    <div class="content-title small-content-title">Giới thiệu
                        tòa nhà TingTong 125 Cầu Diễn dành cho sinh viên Bắc Từ
                        Liêm</div>
                </article>
            </section>

            <section class="news-item">
                <div class="img-item news-small-img">
                    <img src="/img/news/news-small-5.jpg" alt="" />
                </div>
                <article class="news-content-small">
                    <div class="content-info small-content-info">
                        <ul>
                            <li class="article-info">Kiến thức</li>
                            <li class="article-info">25/04/2025</li>
                        </ul>
                    </div>
                    <div class="content-title small-content-title">5 Quy Trình
                        Quản Lý Vận Hành Tòa Nhà Chung Cư Không Thể Thiếu</div>
                </article>
            </section>
        </div>
    </div>
</div>

<section class="brand-container">
    <div class="brand-heading fade-in">
        <div class="brand-head-box">
            <div class="brand-title">Đối tác đồng hành</div>
            <div class="brand-description">Chúng tôi hợp tác với các đối tác
                chiến lược với các công ty hàng đầu tại Việt Nam, để cung cấp
                những giải pháp tối ưu và hiệu quả nhất cho khách hàng.</div>
        </div>
    </div>
    <div class="brand-slider-box">
        <div class="brand-slider brand-top fade-in">
            <ul class="brand-lists">
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-top/Rolex_Logo.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-top/rasch.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-top/Cartier-Logo.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-top/stadt-marburg-logo.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-top/Rolex_Logo.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-top/rasch.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-top/Cartier-Logo.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-top/stadt-marburg-logo.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-top/Rolex_Logo.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-top/rasch.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-top/Cartier-Logo.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-top/stadt-marburg-logo.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-top/Rolex_Logo.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-top/rasch.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-top/Cartier-Logo.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-top/stadt-marburg-logo.jpg"
                        alt=""
                    /></li>
            </ul>
        </div>
        <div class="brand-slider brand-bot fade-in">
            <ul class="brand-lists">
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/Casadeco.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/Cartier-Logo.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/stadt-marburg-logo.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/Porter-And-Stone-Curtain-Fabrics.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/Casadeco.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/Cartier-Logo.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/stadt-marburg-logo.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/Porter-And-Stone-Curtain-Fabrics.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/Casadeco.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/Cartier-Logo.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/stadt-marburg-logo.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/Porter-And-Stone-Curtain-Fabrics.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/Casadeco.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/Cartier-Logo.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/stadt-marburg-logo.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/Porter-And-Stone-Curtain-Fabrics.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/Casadeco.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/Cartier-Logo.png"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/stadt-marburg-logo.jpg"
                        alt=""
                    /></li>
                <li class="brand-item"><img
                        src="/img/brand-slider/brand-slider-bot/Porter-And-Stone-Curtain-Fabrics.png"
                        alt=""
                    /></li>
            </ul>
        </div>
    </div>
</section>